<div>
  <div class="SeparacionUno"></div>
  <div class="colorSecundarioFondo FranjaFaltan">
    <div class="fs30 fs55 NombreFalta fsXL89">Falta</div>

    <div class="ContainerFalta">
      <div class="taCenter fsTbl34 fsXL65 numero"> <span for="">{{  tiempoRestante?.dias }}</span><br> <span>Dias</span></div>
      <div class="linea"></div>
      <div class="taCenter fsTbl34 fsXL65 numero"> <span for="">{{ tiempoRestante?.horas }} </span><br> <span>Hs</span></div>
      <div class="linea"></div>
      <div class="taCenter fsTbl34 fsXL65 numero"> <span for="">{{tiempoRestante?.minutos }} </span> <br> <span>Min</span></div>
      <div class="linea"></div>
      <div class="taCenter fsTbl34 fsXL65 numero"> <span for="">{{tiempoRestante?.segundos }}</span> <br> <span>Seg</span></div>
    </div>
  </div>
  <div class="SeparacionUno"></div>
</div>
