<div >
  <div class="SeparacionUno"></div>
  <img [src]="imgFloresSepacion"  class="imgFloresSeparcion" loading="lazy" alt="flores separacion" />

  <div class="FranjaFaltan">
    <div class="NombreFalta">Falta</div>

    <div class="ContainerFalta">
      <div class="taCenter  numero"> <span for="">{{  tiempoRestante?.dias }}</span><br> <span>Dias</span></div>

      <div class="taCenter  numero"> <span for="">{{ tiempoRestante?.horas }} </span><br> <span>Hs</span></div>

      <div class="taCenter   numero"> <span for="">{{tiempoRestante?.minutos }} </span> <br> <span>Min</span></div>

      <div class="taCenter  numero"> <span for="">{{tiempoRestante?.segundos }}</span> <br> <span>Seg</span></div>
    </div>
  </div>
  <img [src]="imgFloresSepacion"  class="imgFloresSeparciondos" loading="lazy"  alt="flores separacion dos" />
  <div class="SeparacionUno"></div>
</div>
