<div class="taCenter">



  <div class="cardFinal colorSecundarioFondo paddingFinal">
    <div class="bordeCardFinal">
      <div class=" taCenter "><img [src]="imgMilagus"  loading="lazy" class="iconFinal"  alt="camara"> </div>

      <div class="letrafinal">¡LOS ESPERAMOS¡</div>
      <br>
    </div>
  </div>
  <div class="dibujos">
    <img [src]="imgGus"  class="sizedibujo  gus" loading="lazy"  alt="camara">
    <img [src]="imgMila"  class="sizedibujo  mila" loading="lazy"  alt="camara">
  </div>

</div>
