<div class="taCenter">



  <div class="cardFinal colorSecundarioFondo paddingFinal">
    <div class="bordeCardFinal">
      <div class=" taCenter "><img [src]="imgMilagus"  loading="lazy" class="iconFinal"  alt="camara"> </div>

      <div class="colorPrincipalFuente letrafinal">¡LOS ESPERAMOS¡</div>
      <br>
    </div>
  </div>
  <img [src]="imgGus"  class="sizedibujo dibujos gus" loading="lazy"  alt="camara">
  <img [src]="imgMila"  class="sizedibujo dibujos mila" loading="lazy"  alt="camara">
</div>
