<div>

  <div class="taCenter">

    <hr class="colorSecundarioFondo Hr4 mr">
    <div class="TextoCeremonia">Ceremonia & Celebración</div>
    <hr class="colorSecundarioFondo Hr4">

    <div class="Indicacion ">DIA</div>
    <div class="InfoValor  "> Sábado 5 de julio - 14:30 Hrs</div>
    <button class="BtnDatos" (click)="Modal(true, 1)">GUARDAR FECHA</button>
    <br>
    <div class="Indicacion ">LUGAR</div>
    <div class="InfoValor  ">Parque Natural Chicaque</div>
    <button class="BtnDatos BtnDatos2" (click)="Modal(true, 2)">CONFIRMAR ASISTENCIA</button>
    <br>
    <div class="Indicacion ">DIRECCIÓN</div>
    <div class="InfoValor  ">kilometro 34 via melgar</div>
    <button class="BtnDatos" (click)="Modal(true, 3)">CÓMO LLEGAR?</button>

    <br>
  </div>

</div>
