<div>

  <div class="taCenter">

    <hr class="colorSecundarioFondo Hr4">
    <div class="fs55 TextoCeremonia fsXL89">Ceremonia & Celebración</div>
    <hr class="colorSecundarioFondo Hr4">
    <br>
    <br>



    <div class="Indicacion fsTbl34">DIA</div>
    <div class="InfoValor fsTbl31 fsXL65"> Sabado 5 de julio - 14:30 Hrs</div>
    <button class="BtnDatos" (click)="Modal(true, 1)">GUARDAR FECHA</button>
    <div class="Indicacion fsTbl34">LUGAR</div>
    <div class="InfoValor fsTbl31 fsXL65">Centro de eventos chicaque</div>
    <button class="BtnDatos BtnDatos2" (click)="Modal(true, 2)">CONFIRMAR ASISTENCIA</button>
    <div class="Indicacion fsTbl34">DIRECCIÓN</div>
    <div class="InfoValor fsTbl31 fsXL65">kilometro 34 via melgar</div>
    <button class="BtnDatos" (click)="Modal(true, 3)">CÓMO LLEGAR?</button>

    <div></div>
  </div>

</div>
