<app-nombres></app-nombres>
<app-falta></app-falta>
<app-ceremonia (event)="Modal($event)"></app-ceremonia>
<br>
<app-carrusel></app-carrusel>
<br>
<app-tener-encuenta (event)="Modal($event)"></app-tener-encuenta>
<app-final></app-final>


<div [style]="{'display': modal ? 'block' : 'none'}" class="modal">
  <span class="close" (click)="ModalSegunda(false, 0)">&times;</span>
  <div class="colorSecundarioFondo card taCenter modal-content">
    <div><img [src]="imgAnillos" class="imgFlor" loading="lazy" alt="Ícono de anillos"> </div>

    <div class="modal-body">


      <!-- Guardar fecha-->
      <div [style]="{'display': seccion===1 ? 'block' : 'none'}">
        <h2>Guardar fecha</h2>

        <a
          href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=BodaMilayGus&dates=05-07-2024/05-07-2024&details=boda&location=chicaque&sf=true&trp=false">Agregar
          Evento</a>
      </div>



      <!-- Asistencia al eventor -->
      <div class="AsistenciaBoda" [style]="{'display': seccion===2 ? 'block' : 'none'}">
        <button class="BtnModalEnviar btnasistencia">¿QUIÉN ASISTIRÁ?</button>
        <br>
        <br>
        <div>
          <input class="colorSecundarioFondo colorTerceroFuente InfomodalForm" type="text"
            placeholder="Ingrese nombre completo">
        </div>
        <div>
          <input class="colorSecundarioFondo colorTerceroFuente InfomodalForm" type="text"
            placeholder="Ingrese nombre completo">
        </div>
        <div>
          <input class="colorSecundarioFondo colorTerceroFuente InfomodalForm" type="text"
            placeholder="Ingrese nombre completo">
        </div>
        <div>
          <input class="colorSecundarioFondo colorTerceroFuente InfomodalForm" type="text"
            placeholder="Ingrese nombre completo">
        </div>
        <br>
        <br>


        <button class="BtnModalEnviar btnasistencia">Enviar</button>
        <br>
      </div>

      <!-- Como llegar -->
      <div [style]="{'display': seccion===3 ? 'block' : 'none'}">
        <h2>Ubicacion</h2>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15907.83047695894!2d-74.32024829999999!3d4.6016133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f739879a69be7%3A0xacc0490c2cca43!2sChicaque%2C%20San%20Antonio%20Del%20Tequendama%2C%20Cundinamarca!5e0!3m2!1ses-419!2sco!4v1730756343136!5m2!1ses-419!2sco"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade" title="mapalugar"></iframe>
      </div>

      <!-- sugerir cancion -->
      <div class="AsistenciaBoda" [style]="{'display': seccion===4 ? 'block' : 'none'}">
        <p class="colorTerceroFuente mensajeMusica">Comparte con nosotros el enlace de la canción que crees que no puede
          faltar en nuestra boda y en qué momento debería
          sonar.</p>
        <p class="colorTerceroFuente mensajeMusica">Elige bien, puedes recomendar solo una.</p>

        <div>
          <input class="colorSecundarioFondo colorTerceroFuente  InfomodalForm" type="text" placeholder="www.">
        </div>
        <div>
          <input class="colorSecundarioFondo colorTerceroFuente   InfomodalForm" type="text" placeholder="nombre">

        </div>
        <br>
        <br>
        <button class="BtnModalEnviar btnasistencia">Sugerir canción</button>
        <br>
      </div>


      <!-- Dress Code -->
      <div class="AsistenciaBoda" [style]="{'display': seccion===5 ? 'block' : 'none'}">
        <div class="colorPrincipalFuente">Dress Code</div>

        <div class="carouselDC">
          <div class="carousel-innerDC" [style.transform]="transform"  >
            <div *ngFor="let image of images; let i = index">
              <img [src]="image.src"  loading="lazy" class="imgDressCode" alt="Imadc{{ i + 1 }}">
              <br>
              <img  [style]="{'display': i + 1 !== 5  ? 'block' : 'none' }"    [src]="imgttfok" loading="lazy"  class="imgCardCarruOK"  alt="Imgoknot">
              <img  [style]="{'display': i + 1 === 5  ? 'block' : 'none' }"    [src]="imgttfnot" loading="lazy"  class="imgCardCarruOK"  alt="Imgnot">
            </div>
          </div>
          <button (click)="prev()" class="btn left-button">&#10094;&#10094;</button>
          <button (click)="next()" class="btn right-button">&#10095;&#10095;</button>
        </div>

      </div>


      <!-- Trae tu foto-->
      <div class="AsistenciaBoda" [style]="{'display': seccion===6 ? 'block' : 'none'}">

        <p class="mensajeMusica">Trae impresa en papel fotográfico una foto que tengas con o de alguno de
          nosotros, una foto de nosotros o una imagen que te haga pensar en nosotros,
          escríbenos un mensaje al respaldo.</p>

        <div class="carouselDC">
          <img [src]="imgttf2" class="imgBodyModal" alt="trae tu foto uno">
          <img [src]="imgttf1" class="imgBodyModal ml-2" alt="trae tu foto dos">
        </div>
        <p class="mensajeMusica">Harán parde de un espacio como este:</p>
        <div class="carouselDC">
          <img [src]="imgttf3" class="imgBodyModal" alt="trae tu foto uno">
          <img [src]="imgttf4" class="imgBodyModal ml-2" alt="trae tu foto dos">
        </div>




      </div>


      <!-- Tips y Notas-->
      <div class="AsistenciaBoda" [style]="{'display': seccion===7 ? 'block' : 'none'}">
        <p class="mensajeMusica">Cuéntanos tus alergias, si eres vegetariano, si no consumes alcohol y
          cualquier otra cosa que nos quieras recomendar.</p>
        <div>

          <textarea class="colorSecundarioFondo colorTerceroFuente InfomodalForm" name="" id=""></textarea>
        </div>
        <br>
        <br>


        <button class="BtnModalEnviar btnasistencia">Enviar</button>



      </div>


      <br>
    </div>
  </div>
</div>
