
<div class="taCenter">
  <div class="fs55 TextoCeremonia fsXL89">Fiesta</div>
  <div class="Indicacion fsTbl31 IndicacionDos fsXL65">Hagamos junto s una fiesta épica. Aqui algunos detalles a tener en cuenta</div>


  <div class="card colorSecundarioFondo">
    <br/>
    <br/>
    <div class="colorPrincipalFuente fs30 fs50 fsXL89">Musica </div>
    <div class="colorTerceroFuente taCenter fs34 fs65 iconRetrato fsXL89"><fa-icon [icon]="faMusic"></fa-icon></div>

    <div class="colorTerceroFuente mensajeMusica fsTbl31 fsXL65">¿Cuál es la canción que no debe faltar en la PlayList de la fiesta?
    </div>
    <button class="BtnDatos" (click)="Modal(true, 3)">SUGERIR CANCIÓN</button>
    <br/>
    <br/>

  </div>
</div>

