<div class="taCenter">
  <div class="TextoCeremonia marginfinal">Fiesta</div>
  <div class="Indicacion IndicacionDos">¡Hagamos juntos una fiesta épica!</div>


  <div class="card colorSecundarioFondo">
    <br />
    <br />
    <div class="colorPrincipalFuente">Música </div>
    <div class=" taCenter "><img [src]="imgMusic"  class="iconRetrato" loading="lazy"  alt="camara"> </div>

    <div class="colorTerceroFuente mensajeMusica">¿Cuál es la canción que no debefaltar en la playlist de nuestra boda?
    </div>
    <button class="BtnDatos" (click)="Modal(true, 4)">SUGERIR CANCIÓN</button>
    <br />
    <br />

  </div>

  <br>
  <br>
  <div class="card colorSecundarioFondo">
    <br />
    <br />
    <div class="colorPrincipalFuente">Dress Code</div>
    <div class=" taCenter "><img [src]="imgDressCode"  class="iconRetrato"  loading="lazy" alt="camara"> </div>
    <div class="colorTerceroFuente mensajeMusica">Una orientación para tu vestuario
    </div>
    <button class="BtnDatos" (click)="Modal(true, 5)">VER MAS</button>
    <br />
    <br />

  </div>
  <br>
  <br>
  <div class="card colorSecundarioFondo">
    <br />
    <br />
    <div class="colorPrincipalFuente">Trae tu foto</div>
    <div class=" taCenter "><img [src]="imgTuFoto"  class="iconRetrato" loading="lazy"  alt="camara"> </div>
    <div class="colorTerceroFuente mensajeMusica ">Trae una foto de algun momento que compartimos
    </div>
    <button class="BtnDatos" (click)="Modal(true, 6)">VER MAS</button>
    <br />
    <br />

  </div>

  <br>
  <br>
  <div class="card colorSecundarioFondo">
    <br />
    <br />
    <div class="colorPrincipalFuente">Tips y Notas</div>
    <div class=" taCenter "><img [src]="imgTipYNotas"  class="iconRetrato" loading="lazy"  alt="camara"> </div>


    <div class="colorTerceroFuente mensajeMusica ">Información adicional para tener en cuenta.
    </div>
    <button class="BtnDatos" (click)="Modal(true, 7)">VER MAS</button>
    <br />
    <br />

  </div>
</div>
