<div class="SeparacionUno mr"></div>
<div class="colorSecundarioFondo">
<br>

<div class="taCenter letraRetrato">Retratos de Nuestro Amor</div>
<div class="taCenter mensajeRetrato ">Un minuto, un segundo, un instante que queda en la eternidad</div>
<div class="taCenter"><img [src]="imagenCamara"  class="colorTerceroFuente taCenter iconRetrato"  alt="camara">  </div>

<div class="carousel">
  <div class="carousel-inner" [style.transform]="transform">
    <img *ngFor="let image of images; let i = index" [src]="image.src" loading="lazy"  class="imgCardCarru"  alt="Ima{{ i + 1 }}">

  </div>
  <button (click)="prev()" class="btn left-button">&#10094;&#10094;</button>
  <button (click)="next()" class="btn right-button">&#10095;&#10095;</button>
</div>
<br>
</div>
<div class="SeparacionUno"></div>
