<div class="image-container">

  <img [src]="imgNovios" class="Imagen" alt="esta es  la  uno" />
  <hr class="Hr1">
  <div class="TextoImagen">{{ fecha}}</div>
  <hr class="Hr2">


  <div class="NombresDos NombresNovio">
    Gustavo
  </div>
  <div class="NombresDos NombreAnd">
    &
  </div>
  <div class="NombresDos NombresNovia">
    Camila
  </div>

  <div class="NombresDos fsXL65 fsTbl34 Leyenda">

    "Todos somos mortales, hasta el primer beso y la segunda copa".
  </div>
  <hr class="Hr3">
</div>
