
<div class="">
  <img [src]="imgFlores"  loading="lazy" class="imgFloresArriba" alt="esta es  la  dos"  />
  <img [src]="imgSobre"  class="imagenS" alt="esta es  la  uno" />

  <div class=" colorTerceroFuente  taCenter   TextoUno">
    ¡Hola!
  </div>

<br>

  <div class="taCenter  Texto-Secundario">
    ¡Sí! Nos casamos y queremos que nos acompañes a celebrar el amor en nuestro día
  </div>

  <div>

      <input class="colorSecundarioFondo colorTerceroFuente InfomodalForm inputInicio" type="text"
      placeholder="Ingrese su código" [(ngModel)]="codigo" >


  </div>
  <div class="taCenter " (click)="siguientepagina()" >
    <img [src]="imgCorazon" loading="lazy" class="imgCorazon" alt="esta es btn del corazon" >
    <div class="error">
      <p *ngIf="error== true"> {{message}}.</p>

    </div>

    <div class="taCenter  Texto-Terciario">
      Ingresa
    </div>
    <div class="taCenter  Texto-TerciarioDos">
      aquí
    </div>

  </div>

  @if(loading$ | async) {

    <div class="spinner-container">
      @if(customLoadingIndicator) {

      <ng-container
        *ngTemplateOutlet="customLoadingIndicator" />

      } @else {

        <img [src]="imgLoading" class="imgloadding" height="250" width="250" alt="loadding">

      }
    </div>

    }









  <audio allow="autoplay" #audioElement></audio>
</div>
