@font-face {
  font-family: 'catchy-mager';
  src: url('../public/font/catchy-mager.otf') format('opentype');

}

@font-face {
  font-family: 'Glacial-Indifference';
  src: url('../public/font/GlacialIndifference-Regular.otf') format('opentype');
}

$colorPrincipal: #8e9b83;
$colorSecundario: #485450;
$colorTerciario: #8C3F40;
$colorCuarto: #b05a2d;
$colorQuinto: #f2c6c2;
$colorsexto: #8c3f4d;
$colorseptimo: #8A675C;
$fuente-primaria: 'catchy-mager', sans-serif;
$fuente-secundaria: 'Glacial-Indifference', sans-serif;
$sizeFuenteUno: 8vw;
$sizeTablet: 8vw;
$sizeFuenteUnoMoviles: 9vw;

body {
  background-color: $colorPrincipal;
}

.imgFloresArriba {
  position: absolute;
}

.imgCorazon{
  position: absolute;
}

.imagenS {
  width: 100%;
  background-color: transparent;
  margin-top: 43vw;
}

.colorSecundarioFondo {
  background-color: $colorQuinto;
}

.colorTerceroFuente {
  color: $colorseptimo;
}

.colorPrincipalFuente {
  color: $colorSecundario;
  font-family: $fuente-primaria;
  font-size: 10vw;
}

.taCenter {
  text-align: center;
}

.TextoUno {
  position: absolute;
  margin-top: 2rem;
  font-family: $fuente-primaria;
  color: $colorSecundario;
}

.Texto-Secundario {
  margin-top: 4rem;
  font-family: $fuente-secundaria;
  color: $colorTerciario;
}

.Container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.Texto-Tres{
  color: #fff;
  font-size: $fuente-primaria;
  position: absolute;

}

.BtnPrincipal:hover {
  background: #fff;
  color: $colorSecundario;
}

.image-container {
  position: relative;
}

.Hr1 {
  size: 10px;
  top: 0%;
  position: absolute;

}

.Hr2 {
  size: 10px;
  top: 0%;
  position: absolute;
}

.Hr3 {
  size: 10px;
  position: absolute;
}

.ftSecundaria {
  font-family: $fuente-secundaria;
}

.Imagen {
  background-color: rgba(0, 0, 255, 0.5);
  mix-blend-mode: luminosity;
  align-items: center;
  opacity: 47%;
  z-index: -1;
}

.TextoImagen {
  position: absolute;
  top: 5%;
  color: white;
  font-family: $fuente-secundaria;
}

.NombresDos {
  position: absolute;
  color: white;
  font-family: $fuente-secundaria;
}

.SeparacionUno {
  background-color: $colorsexto;
  padding-top: 1%;
  padding-bottom: 1%;
}

.FranjaFaltan {
  position: relative;
  top: -3vw;
}

.imgFloresSeparcion {
  position: relative;
  top: -16vw;
  width: 50vw;
  height: auto;
  object-fit: cover;
}

.imgFloresSeparciondos {
  position: relative;
  top: 12vw;
  width: 50vw;
  height: auto;
  object-fit: cover;

}

.NombreFalta {
  color: $colorsexto;
  font-family: $fuente-secundaria;
}

.ContainerFalta {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;

}

.numero {
  display: inline-block;
  color: $colorsexto;
  font-family: $fuente-secundaria;
  background-color: $colorQuinto;
  border-radius: 3vw 3vw 3vw 3vw;
  padding: 3vw 3vw 3vw 3vw;
}

.mr{
  margin-top: 13vw;
}


.TextoCeremonia {
  color: #fff;
  font-family: $fuente-secundaria;
}

.Hr4 {
  margin-left: 8vw;
  margin-right: 8vw;
}

.Indicacion {
  color: #fff;
  margin-top: 6%;
  font-family: $fuente-secundaria;
}

.InfoValor {
  color: $colorQuinto;
  font-family: $fuente-secundaria;
  margin-top: 4%;
  font-size: larger;
}

.BtnDatos {
  color: #fff;
  border-radius: 18px 18px 18px 18px;
  font-family: $fuente-secundaria;
  padding: 10px 16%;
  margin-top: 4%;
  background-color: $colorTerciario;
}

.BtnDatos2 {
  padding: 10px 10%;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-body {
  border: solid $colorTerciario 3px;
  border-radius: 8vw 8vw 8vw 8vw;
  padding-top: 3vw;
}

.imgFlor {
  width: 23vw;
  position: absolute;
  right: 34vw;
  top: 7vw;
}

.imgDressCode{
  height: 135vw;
  padding-left: 5vw;
}

.AsistenciaBoda {
  margin-top: 10%;
}

.imgBodyModal{

  width: 35vw;
}

.ml-2{
  margin-left: 2vw;
}

.InfomodalForm {
  font-family: $fuente-secundaria;
  border-color: #d9a491;
  border-style: none;
  border-radius: 2vw 2vw 2vw 2vw;
  margin-top: 4vw;
  border: solid $colorTerciario 2px;
}

.close {
  float: right;
  font-size: 13vw;
  font-weight: bold;
  background: $colorTerciario;
  padding: 1vw 4vw;
  color: #fff;
  border-radius: 70%;
  margin-top: 8vw;

}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-around;
}

.BtnModalEnviar {
  color: #fff;
  border-radius: 10vw 10vw 10vw 10vw;
  padding: 7px 7%;
  margin-bottom: 2%;
  background-color: $colorsexto;
}

.letraRetrato {
  color: $colorTerciario;
  font-size: 7vw;
  font-family: $fuente-secundaria;

}

.mensajeRetrato {
  color: $colorTerciario;
  font-size: 5vw;
  margin-top: 9px;
  font-family: $fuente-secundaria;
}

.iconRetrato {
  margin-top: 9%;
  width: 20vw;
}

.iconFinal{
  width: 40vw;
  margin-top: 2vw;
}


.carousel {
  margin-top: 3%;
  overflow: hidden;
  position: relative;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}


.imgCardCarru {
  padding: 1%;
  margin-left: 3%;
  background-color: #fff;

}

.imgCardCarruOK{
    height: 27vw;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo negro semi-transparente */
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 7vw;
  transition: background-color 0.3s ease;
}

.btn.left-button {
  left: 5vw;
}

.btn.right-button {
  right: 5vw;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  /* Aumenta la opacidad al hacer hover */
}

.card {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 14%;
  border-radius: 8vw 8vw 8vw 8vw;
}

.iconMusic {
  margin-top: 38px;
  margin-bottom: 10px;
}

.mensajeMusica {
  margin-top:6vw;
  margin-left: 2vw;
  font-family: $fuente-secundaria;
  font-size: 5vw;
}


.carouselDC {
  margin-top: 3%;
  overflow: hidden;
  position: relative;
}

.carousel-innerDC {
  display: flex;
  transition: transform 0.5s ease-in-out;
}




.marginfinal {
  margin-top: 25%;
}

.bordeCardFinal {
  border: $colorTerciario solid 3px;
}

.paddingFinal {
  padding: 3%;
}

.cardFinal {
  margin-top: 14%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5vw 5vw 5vw 5vw;
}

.letrafinal{
  font-size: 4vw;
}

.sizedibujo{
 width: 40vw;
}

.dibujos{
  position: relative;
 top: -29vw;
}

.gus{
  left: -10vw;
}

.mila{
  left: 12vw;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {

  .imagenS {
    margin-top: 43vw;
  }

  .imgFloresArriba {
    height: 50vw;
    width: 50vw;
    padding-left: 25vw;
    padding-right: 25vw;
  }

  .imgCorazon{
    height: 30vw;
    width: 35vw;
    left: 33vw;
    top: 102vw;
  }


  .TextoUno {
    font-size: $sizeFuenteUnoMoviles;
    top: 50vw;
    padding-left: 39vw;
    padding-right: 39vw;
  }

  .Texto-Secundario {
    position: absolute;
    font-size: $sizeFuenteUnoMoviles - 4;
    top: 55vw;
    margin-left: 19vw;
    margin-right: 19vw;
  }

  .Texto-Terciario{
    font-size: 1.4rem;
    position: absolute;
    top: 108vw;
    left: 43vw;
  }

  .Texto-TerciarioDos{
    font-size: 1.4rem;
    position: absolute;
    top: 115vw;
    left: 46vw;
  }
  .BtnPrincipal {
    position: absolute;
    top: 72%;
    margin-left: 37%;
    margin-right: 39%;

    min-width: 100px;
    height: 11vw;
  }


  .imgflorAbajo {
    width: 100%;
    position: absolute;
    top: 83%;
  }

  .Hr1 {
    width: 27%;
    margin-left: 4%;
    margin-top: 11vw;
    border: solid 1px white;
  }

  .TextoImagen {
    left: 34%;
    font-size: 21px;
    top: 8%;
  }

  .Hr2 {
    width: 24vw;
    margin-left: 67vw;
    margin-top: 11vw;
    border: solid 1px white;
  }

  .image-container img {
    width: 100%;

  }

  .NombresNovio {
    top: 18%;
    font-size: $sizeFuenteUnoMoviles + 6;
    margin-left: 21vw;
  }

  .NombresNovia {
    font-size: $sizeFuenteUnoMoviles + 6;
    top: 49%;
    margin-left: 24%;
  }

  .NombreAnd {
    top: 38%;
    font-size: $sizeFuenteUnoMoviles;
    margin-left: 45%
  }

  .Hr3 {
    margin-left: 5%;
    width: 86vw;
    top: 81%;
    border: solid 1px white;
  }

  .Leyenda {
    top: 67%;
    margin-left: 13%;
    margin-right: 13%;
    font-size: $sizeFuenteUnoMoviles - 4;
  }

  .BordeImagen {
    width: 100%;
  }

  .imgFloresSeparcion {
    left: 23vw;
  }

  .imgFloresSeparciondos {
    left: 23vw;
  }

  .NombreFalta {
    font-size: $sizeFuenteUnoMoviles + 6;
    margin-left: 30vw;
    margin-bottom: 2%;
  }

  .ContainerFalta{
    margin-left: 5vw;
    gap: 4vw;
  }

  .numero{
    font-size: $sizeFuenteUnoMoviles - 3;
    border: dashed 2px $colorsexto;
  }

  .TextoCeremonia {
    font-size: $sizeFuenteUnoMoviles - 2;
  }

  .InfomodalForm{
    font-size: $sizeFuenteUnoMoviles - 3;
  }

  iframe {
    width: 270px;
    height: 300px;
  }

  .mensajeRetrato {
    margin-left: 5%;
    margin-right: 5%;
  }

  .carousel {
    width: 100%;
  }

  .carousel img {
    width: 85vw;
    margin-left: 7%;
    height: 85vw;
  }

  .IndicacionDos {
    margin-left: 3%;
    margin-right: 3%;
  }

  .imgOKOrNot{
    padding-right: 23vw;
    padding-left: 23vw;
  }

}

@media only screen and (min-width : 768px) and (max-width : 1024px) {

  .imagenS {
    margin-top: 39vw;
  }

  .imgFloresArriba {
    height: 45vw;
    width: 45vw;
    padding-left: 25vw;
    padding-right: 25vw;
  }

  .TextoUno {
    font-size: $sizeTablet;
    top: 51vw;
    padding-left: 39vw;
    padding-right: 39vw;
  }

  .Texto-Secundario {
    font-size: $sizeTablet - 3;
    position: absolute;
    top: 60vw;
    margin-left: 20vw;
    margin-right: 23vw;
  }


  .imgCorazon{
    height: 30vw;
    width: 34vw;
    left: 32vw;
    top: 97vw;
  }

  .Texto-Terciario{
    font-size: 3.7rem;
    position: absolute;
    top: 102vw;
    left: 39vw;
  }

  .Texto-TerciarioDos{
    font-size: 3.7rem;
    position: absolute;
    top: 110vw;
    left: 43vw;
  }

  .Imagen {
    width: 110%;
  }

  .Hr1 {
    width: 30%;
    margin-left: 4%;
    top: 12vw;
    border: solid 2px white;
  }

  .TextoImagen {
    left: 36%;
    font-size: 42px;
    top: 9%;
  }

  .Hr2 {
    width: 35vw;
    margin-left: 68%;
    margin-top: 13vw;
    border: solid 2px white;
  }

  .imgFloresSeparcion {
    left: 24vw;
  }

  .imgFloresSeparciondos {
    left: 24vw;
  }

  .NombresNovio {
    top: 19%;
    font-size: $sizeTablet + 7;
    margin-left: 24%;
  }

  .NombresNovia {
    top: 49%;
    font-size: $sizeTablet + 7;
    margin-left: 27%;
  }

  .NombreAnd {
    font-size: $sizeTablet + 2;
    top: 37%;
    margin-left: 48%;
  }

  .Hr3 {
    margin-left: 5%;
    width: 95vw;
    top: 87vw;
    border: solid 2px white;
  }

  .Leyenda {
    font-size: $sizeTablet - 3;
    top: 74vw;
    margin-left: 11vw;
    margin-right: 11vw;
  }

  .SeparacionUno {
    padding-left: 80%;
    padding-right: 30%;
  }

  .FranjaFaltan {
    width: 110%;
  }

  .NombreFalta {
    font-size: $sizeTablet + 7;
    margin-left: 35vw;
    margin-bottom: 2%;
  }

  .ContainerFalta{
    margin-left: 8vw;
    gap: 3vw;
  }

  .numero{
    font-size: $sizeTablet - 3;
    border: dashed 4px $colorsexto;
  }

  .TextoCeremonia {
    font-size: $sizeTablet - 1;
  }

  .Indicacion {
    font-size: $sizeTablet  - 3;
  }

  .InfoValor {
    font-size: $sizeTablet  - 3;
  }

  .BtnDatos {
    padding: 17px 24%;
    margin-top: 4%;
    margin-bottom: 3vw;
    font-size: $sizeTablet  - 4;
    border-radius: 30px 30px 30px 30px;
  }

  .imgFlor {
    top: -6vw;
    right: 41vw;
  }

  .InfomodalForm{
    font-size: $sizeTablet - 3;
  }

  .btnasistencia{
    font-size: $sizeTablet - 3;
  }

  .BtnDatos2 {
    padding: 17px 17%;
  }

  .close {
    margin-top: 1vw;
    margin-right: 4vw;
    font-size: 10vw;

  }

  .iconRetrato {
    font-size: 64px;
  }

  .carousel {
    width: 96vw;
  }

  .carousel img {
    width: 90vw;
    height: 90vw;
  }

  .imgDressCode{
    height: 130vw;
    padding-left: 10vw;
    padding-right: 3vw;
  }

  .card {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    border-radius: 5vw 5vw 5vw 5vw;
  }


  .imgOKOrNot{
    padding-right: 27vw;
    padding-left: 26vw;
  }

}

@media only screen and (min-width : 1025px) {


  .imagenS {
    margin-top: 39vw;
  }



  .imgFloresArriba {
    height: 45vw;
    width: 45vw;
    padding-left: 25vw;
    padding-right: 25vw;
  }

  .TextoUno {
    font-size: $sizeFuenteUno;
    top: 52vw;
    padding-left: 39vw;
    padding-right: 39vw;
  }

  .Texto-Secundario {
    font-size: $sizeFuenteUno - 3;
    position: absolute;
    top: 61vw;
    margin-left: 21vw;
    margin-right: 21vw;
  }


  .imgCorazon{
    height: 30vw;
    width: 34vw;
    left: 32vw;
    top: 97vw;
  }

  .Texto-Terciario{
    font-size: $sizeFuenteUno - 3;
    position: absolute;
    top: 104vw;
    left: 42vw;
  }

  .Texto-TerciarioDos{
    font-size: $sizeFuenteUno - 3;
    position: absolute;
    top: 110vw;
    left: 45vw;
  }



  .imgflorAbajo {
    width: 100%;
    position: absolute;
    top: 82%;
  }

  .Imagen {
    width: 100%;
  }

  .Hr1 {
    width: 28vw;
    border: solid 0.3vw white;
    top: 12vw;
    margin-left: 3%;
  }

  .Hr2 {
    width: 27vw;
    margin-left: 64vw;
    top: 12vw;
    border: solid 0.3vw white;
  }

  .TextoImagen {
    left: 34vw;
    font-size: $sizeFuenteUno - 3;
    top: 9.5vw;
  }

  .NombresNovio {

    font-size: $sizeFuenteUno + 6;
    top: 19%;
    margin-left: 22vw;
  }

  .NombresNovia {
    font-size: $sizeFuenteUno + 6;
    top: 49%;
    margin-left: 24%;
  }

  .NombreAnd {
    font-size: $sizeFuenteUno + 3;
    top: 36%;
    margin-left: 44vw;
  }

  .Hr3 {
    margin-left: 5%;
    width: 87vw;
    top: 83%;
    border: solid 0.3vw white;
  }

  .Leyenda {
    top: 70%;
    margin-left: 12vw;
    margin-right: 12vw;
    font-size: $sizeFuenteUno - 3;
  }

  .imgFlor {
    top: 3vw;
    right: 38vw;
  }

  .imgFloresSeparcion {
    left: 24vw;
  }

  .imgFloresSeparciondos {
    left: 24vw;
  }

  .NombreFalta {
    font-size: $sizeFuenteUno + 6;
    margin-left: 32vw;
    margin-bottom: 2%;
  }

  .ContainerFalta{
    margin-left: 9vw;
    gap: 2vw;
  }

  .numero{
    font-size: $sizeFuenteUno  - 3;
    border: dashed 19px $colorsexto;
  }

  .TextoCeremonia {
    font-size: $sizeFuenteUno - 1;
  }

  .InfomodalForm{
    font-size: $sizeFuenteUno - 3;
  }

  .btnasistencia{
    font-size: $sizeFuenteUno - 3;
  }

  .Indicacion {
    font-size: $sizeFuenteUno  - 3;
  }

  .InfoValor {
    font-size: $sizeFuenteUno  - 3;
  }

  .BtnDatos {
    padding: 17px 16%;
    margin-top: 4%;
    margin-bottom: 4vw;
    font-size: $sizeFuenteUno  - 3;
    border-radius: 60vw 60vw 60vw 60vw;
  }

  .BtnDatos2 {
    padding: 17px 6%;
  }

  .close {
    margin-top: 7vw;
    margin-right: 2vw;
    font-size: 10vw;

  }

  .imgDressCode{
    height: 140vw;
    padding-left: 0vw;
  }

  .carousel img {
    width: 93vw;
    height: 93vw;
  }

  .imgOKOrNot{
    padding-right: 29vw;
    padding-left: 26vw;
  }

  .imgCardCarruOK {
    height: 19vw;

    padding-left: 1vw;
    padding-right: 1vw;
  }

}
