$colorPrincipal: #8e9b83;
$colorSecundario: #f2c6c2;
$colorTerciario: #8a675c;
$colorCuarto: #9b8d7b;
$colorQuinto: #092d29;
$colorsexto: #8c3f4d;
$fuente-secundaria: Josefin Sans;
$sizeFuenteUno:  2133%;
$sizeTablet:  397%;
$sizeFuenteUnoMoviles: 215%;


body {
  background-color: $colorPrincipal;
}

.imagenS{
  width: 100%;
  background-color: transparent;
  margin-top: 20%;
}

.colorSecundarioFondo {
  background-color: $colorSecundario;
}

.colorTerceroFuente {
  color: $colorTerciario;
}

.colorPrincipalFuente {
  color: $colorPrincipal;
}

.fs30 {
  font-size: 30px;
}

.fs34 {
  font-size: 34px;
}

.taCenter {
  text-align: center;
}

.TextoUno {
  margin-top: 3rem;
}

.Texto-Secundario {
  margin-top: 4rem;
  font-family: $fuente-secundaria;
  color: $colorCuarto;
}




.Container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.BtnPrincipal {
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 7px 7px 7px 7px;
  border: 2px solid $colorSecundario;
  background: $colorTerciario;
}

.BtnPrincipal:hover {
  background: #fff;
  color: $colorSecundario;
}

.image-container {
  position: relative;
}


.Hr1 {
  size: 10px;
  top: 0%;
  position: absolute;

}

.Hr2 {
  size: 10px;
  top: 0%;
  position: absolute;
}

.Hr3 {
  size: 10px;
  position: absolute;
}

.Imagen {
  background-color: rgba(0, 0, 255, 0.5);
  mix-blend-mode: luminosity;
  align-items: center;
  z-index: -1;
}

.TextoImagen {
  position: absolute;
  top: 5%;
  color: white;
  font-family: $fuente-secundaria;
}

.NombresDos {
  position: absolute;
  color: white;
  font-family: $fuente-secundaria;
}

.SeparacionUno {
  background-color: $colorTerciario;
  padding-top: 1%;
  padding-bottom: 1%;
}

.FranjaFaltan {

  padding-top: 15%;
  padding-bottom: 15%;

}

.NombreFalta {
  color: $colorsexto;
  font-family: $fuente-secundaria;
  margin-left: 39%;
  margin-bottom: 2%;
}

.ContainerFalta {
  display: grid;
  grid-template-columns: 14% 1% 14% 1% 19% 1% 14%;
  gap: 5px;
  margin-left: 21%;
}

.numero {
  display: inline-block;
  color: $colorsexto;
}

.linea {
  width: 1px;
  height: 34px;
  background-color: black;
}

.TextoCeremonia {
  color: #fff;
  font-size: 26px;
}

.Hr4 {
  margin-left: 17%;
  margin-right: 17%;
}

.Indicacion {
  color: #fff;
  margin-top: 6%;
}

.InfoValor {
  color: $colorSecundario;
  margin-top: 4%;
  font-size: larger;
}

.BtnDatos {
  color: #fff;
  border-radius: 18px 18px 18px 18px;
  font-family: $fuente-secundaria;
  padding: 10px 16%;
  margin-top: 4%;
  background-color: $colorTerciario;
}

.BtnDatos2 {
  padding: 10px 10%;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-body {
  border: solid $colorTerciario 3px;
  margin-top: 6%;
}

.modal-content img {
  border-radius: 50%;
  width: 17%;
  position: absolute;
  right: 42%;
  top: 6%;
  -webkit-box-shadow: -8px 7px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 7px 5px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -8px 7px 5px -4px rgba(0, 0, 0, 0.75);
}

.AsistenciaBoda {
  margin-top: 10%;
}

.InfomodalForm {
  font-family: $fuente-secundaria;
  border-color: #d9a491;
  border-style: none;
  border-bottom: solid $colorTerciario 1px;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  background: $colorTerciario;
  padding: 1%;
  color: #fff;
  border-radius: 70%;
  margin-top: 11%;
  margin-right: 5%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.options {
  display: flex;
  justify-content: space-around;
}

.BtnModalEnviar {
  color: #fff;
  border-radius: 18px 18px 18px 18px;
  padding: 7px 7%;
  margin-bottom: 2%;
  background-color: $colorsexto;
}

.letraRetrato {
  color: $colorQuinto;
  font-size: 26px;
}

.mensajeRetrato {
  color: $colorQuinto;
  font-size: 18px;
  margin-top: 9px;
}

.iconRetrato {
  margin-top: 9%;
}

.carousel {
  margin-top: 3%;
  overflow: hidden;
  position: relative;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.imgCardCarru {
  padding: 1%;
  margin-left: 3%;
  background-color: #fff;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo negro semi-transparente */
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.btn.left-button {
  left: 8px;
}

.btn.right-button {
  right: 8px;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  /* Aumenta la opacidad al hacer hover */
}

.card {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 14%;
  border-radius: 10px 10px 10px 10px;
}

.iconMusic {
  margin-top: 38px;
  margin-bottom: 10px;
}

.mensajeMusica {
  margin-top: 10%;
  margin-left: 5%;
}

.marginfinal{
  margin-top: 25%;
}

.bordeCardFinal{
  border: $colorTerciario solid 3px;
}

.paddingFinal{
  padding: 3%;
}

.cardFinal {
  margin-top: 14%;
  margin-left: 10%;
  margin-right: 10%;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {

  .imgFloresArriba{
    transform: rotate(180deg);
    position: absolute;
    height: 38%;
  }

  .TextoUno {
    font-size: $sizeFuenteUnoMoviles;
    top: 19%;
    margin-left: 16%;
    margin-right: 16%;
  }

  .Texto-Secundario {
    position: absolute;
    font-size: $sizeFuenteUnoMoviles - 110.6;
    top: 44%;
    margin-left: 16%;
    margin-right: 17%;
  }

  .BtnPrincipal {
    position: absolute;
    top: 72%;
    margin-left: 37%;
    margin-right: 39%;
    font-size: 1.4rem;
    min-width: 100px;
    height: 40px;
  }


  .imgflorAbajo{
    width: 100%;
    position: absolute;
    top: 83%;
  }

  .Hr1 {
    width: 29%;
    margin-left: 4%;
  }

  .TextoImagen {
    left: 36%;
    font-size: 21px;
  }

  .Hr2 {
    width: 30%;
    margin-left: 66%;
    margin-top: 9%;
  }

  .image-container img {
    width: 100%;
  }

  .NombresNovio {
    top: 10%;
    font-size: 380%;
    margin-left: 19%;
  }


  .NombresNovia {
    top: 34%;
    font-size: 380%;
    margin-left: 21%;
  }

  .NombreAnd {
    top: 27%;
    font-size: 165%;
    margin-left: 45%
  }

  .Hr3 {
    margin-left: 5%;
    width: 84%;
    top: 45%
  }

  .Leyenda {
    top: 50%;
    margin-left: 13%;
    margin-right: 13%;
    font-size: 20px;
  }

  .BordeImagen {
    width: 100%;
  }

  iframe {
    width: 270px;
    height: 300px;
  }

  .mensajeRetrato {
    margin-left: 5%;
    margin-right: 5%;
  }

  .carousel {
    width: 100%;
  }

  .carousel img {
    width: 84%;
    margin-left: 7%;
  }

  .IndicacionDos {
    margin-left: 3%;
    margin-right: 3%;
  }

}

@media only screen and (min-width : 768px) and (max-width : 1024px) {


  .imgFloresArriba{
    transform: rotate(180deg);
    position: absolute;
    height: 50%;
  }

  .TextoUno {
    font-size: $sizeTablet;
    top: 28%;
    margin-left: 16%;
    margin-right: 16%;
  }

  .Texto-Secundario {
    font-size: $sizeTablet - 147;
    top: 49%;
    position: absolute;
    margin-left: 16%;
    margin-right: 17%;
  }

  .BtnPrincipal {
    position: absolute;
    top: 72%;
    font-size: 2rem;
    margin-left: 38%;
    margin-right: 39%;
    min-width: 21%;
    height: 7%;
  }

  .imgflorAbajo{
    width: 100%;
    position: absolute;
    top: 83%;
  }

  .fs55{
    font-size: 55px;
  }

  .fs50{
    font-size: 50px;
  }

  .fsTbl34{
    font-size: 34px;
  }

  .fsTbl31{
    font-size: 31px;
  }

  .Imagen {
    width: 110%;
  }

  .Hr1 {
    width: 34%;
    margin-left: 5%;
  }

  .TextoImagen {
    left: 42%;
    font-size: 42px;
  }

  .Hr2 {
    width: 36%;
    margin-left: 72%;
    margin-top: 9%;
  }

  .NombresNovio {
    top: 8%;
    font-size: 800%;
    margin-left: 23%;
  }

  .NombresNovia {
    top: 33%;
    font-size: 800%;
    margin-left: 26%;
  }

  .NombreAnd {
    top: 25%;
    font-size: 414%;
    margin-left: 51%
  }

  .Hr3 {
    margin-left: 5%;
    width: 97%;
    top: 44%;
  }

  .Leyenda {
    top: 49%;
    margin-left: 12%;
    margin-right: 12%;
  }

  .SeparacionUno {
    padding-left: 80%;
    padding-right: 30%;
  }

  .FranjaFaltan {
    width: 110%;
  }

  .linea {
    height: 70px;
  }

  .BtnDatos {
    padding: 17px 24%;
    margin-top: 4%;
    font-size: 29px;
    border-radius: 30px 30px 30px 30px;
  }

  .BtnDatos2 {
    padding: 17px 17%;
  }

  .close {
    margin-top: 13%;
    margin-right: 7%;
  }

  .iconRetrato {
    font-size: 64px;
  }

  .carousel {
    width: 800px;
  }

  .carousel img {
    width: 886px;
    margin-left: 11%;
  }

  .card {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    border-radius: 10px 10px 10px 10px;
  }

}

@media only screen and (min-width : 1025px) {


  .imgFloresArriba{
    transform: rotate(180deg);
    position: absolute;
    height: 55%;
  }

  .TextoUno {
    font-size: $sizeFuenteUno;
    top: 26%;
    margin-left: 16%;
    margin-right: 16%;
  }

  .Texto-Secundario {
     font-size: $sizeFuenteUno - 852;
     position: absolute;
     top: 53%;
     margin-left: 18%;
     margin-right: 17%;
  }

  .BtnPrincipal {
    position: absolute;
    font-size: $sizeFuenteUno - 2;
    top: 71%;
    margin-left: 37%;
    margin-right: 39%;
    min-width: 26%;
    height: 9%;
  }

  .imgflorAbajo{
    width: 100%;
    position: absolute;
    top: 82%;
  }

  .fsXL89{
    font-size: 95px;
  }

  .fsXL65{
    font-size: 65px;
  }

  .fsXL44{
    font-size: 44px;
  }

  .Imagen {
    width: 100%;
  }

  .Hr1 {
    width: 40%;
  }

  .Hr2 {
    width: 38%;
    margin-left: 59%;
    margin-top: 7.2%;
  }

  .TextoImagen {
    left: 43%;
    font-size: 50px;
  }

  .NombresNovio {
    top: 8%;
    font-size: 1000%;
    margin-left: 28%;
  }

  .NombresNovia {
    top: 33%;
    font-size: 1000%;
    margin-left: 30%;
  }

  .NombreAnd {
    top: 24%;
    font-size: 680%;
    margin-left: 46%
  }

  .Hr3 {
    margin-left: 5%;
    width: 86%;
    top: 43%;
  }

  .Leyenda {
    top: 47%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .linea {
    height: 106px;
  }

  .Indicacion {
    font-size: 73px;
  }

  .BtnDatos {
    padding: 17px 16%;
    margin-top: 4%;
    font-size: 47px;
    border-radius: 42px 42px 42px 42px;
  }

  .BtnDatos2 {
    padding: 17px 6%;
  }

  .close {
    margin-top: 13%;
    margin-right: 8%;
  }

  .carousel img {
    width: 886px;
    margin-left: 11%;
  }

}
